<!DOCTYPE html>
<html lang="de">
    <head>
        <meta name="robots" content="noindex">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">
        <title>
            {{ site.name }}
            {% if title %} - {{ title }}
            {% endif %}
        </title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body >
        <div class="container">
            <header>
                <div class="logo">
                    <img src="/images/bsilogo.png" alt="bsi logo"/></div>
                <nav>
                    <ul>
                        <li class="nav-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/produkte">Produkte</a>
                        </li>
                        <li class="nav-item li-dark">
                            <a class="nav-link" href="/kontakt">Kontakt</a>
                        </li>
                    </ul>
                </nav>

            </header>
            <main>
                {{ content | safe }}
            </main>

        </div>
        <footer >
            <div class="container">
                <div class="footer-company">
                    <h2>BSI Wachsmaschinen</h2>
                    <span>Heiligenwies 2</span>
                    <span>94267 Prackenbach</span>
                    <span>Germany</span>
                    <span>
                        <a href="/kontakt">Kontakt</a>
                    </span>

                </div>
                <div class="footer-links">
                    <div class="footer-products">
                        <h2>Product</h2>
                        <span>
                            <a href="/produkte#waschmaschinen">Waschmaschinen</a>
                        </span>
                        <span>
                            <a href="/produkte#burstmaschinen">Bürstmaschinen</a>
                        </span>
                        <span>
                            <a href="/produkte#aufbewahrung">Aufbewahrung</a>
                        </span>
                        <span>
                            <a href="/produkte#zubehör">Zubehör</a>
                        </span>
                    </div>
                    <div class="footer-legal">
                        <span>
                            <a href="/#">Impressum</a>
                        </span>
                        <span>
                            <a href="/#">Datenschutz</a>
                        </span>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>