---
permalink: /
---

<div class="jumbotron">BSI Wachsmaschinen</div>
<h1>Die Firma BSI ist seit drei Jahrzehnten mit der Entwicklung und Fertigung von Ski- und Snowboardwachsmaschinen vertraut.</h1>
<h1 class="home-subtitle">Die hohe Qualität unserer Produkte und das Bestreben des Handels, seinen Kunden besten Service aus der Werkstatt zu bieten, machten uns zum größten Wachsmaschinenhersteller der Welt.
Unsere patentierten Systeme sowie die ständigen Weiterentwicklungen sind aus guten Werkstätten nicht mehr wegzudenken.</h1>
<div class="link-group">
    <div class="link-group-item">
        <img src="" alt="someimage"/>
    </div>

    <div class="link-group-item">
        <img src="" alt="someimage"/>
    </div>

    <div class="link-group-item">
        <img src="" alt="someimage"/>
    </div>

    <div class="link-group-item">
        <img src="" alt="someimage"/>
    </div>
</div>

<div class=""></div>