---
title: "Kontakt"
---

<h1 class="contact-title">Kontakformular</h2>
<h2 class="contact-subtitle">Nehmen Sie mit uns Kontakt auf</h2>

<form>
    <div class="form-section form-names">
        <label for="form-input-firstname">Name</label>
        <div class="form-name-inputs">
            <div class="form-name">
                <label for="form-input-firstname">
                Vorname
            </label>
                <input
          id="form-input-firstname"
          type="text"
          class="form-input"
          required/>
            </div>

            <div class="form-name">
                <label for="form-input-lastname">
                Nachname
            </label>
                <input
          id="form-input-lastname"
          type="text"
          class="form-input"
          required/>
            </div>

        </div>

    </div>
    <div class="form-section form-email">
        <label for="form-input-email">E-mail Adresse</label>
        <input id="form-input-email" type="email" required/>
    </div>
    <div class="form-section form-message">
        <label for="form-input-message">Nachricht</label>
        <textarea id="form-input-message" maxlength="1000" ></textarea>
    </div>

    <input type="button" value="Senden" class="submit-btn"/>

</form>