---
title: "Produkte"
---

<h1 class="product-title">Wachsmaschinen</h1>

<div class="product-items">
    <div class="product-card">
        <div class="card-image">
            <img class="card-image" alt="some image"/>
        </div>
        <div class="card-data">
            <div class="card-title">
                <h1>Profiwachser HWP125</h1>
            </div>
            <div class="card-description">
                <ul>
                    <li>sekundenschneller Wachsauftrag</li>
                    <li>einfaches Überschieben des Ski oder Snowboard</li>
                    <li>genaue Dosierung</li>
                    <li>extrem sparsam auswechselbare Wachswanne</li>
                </ul>
            </div>
            <div class="card-details-grid">
                <div class="card-details-item">
                    <span>Voltage: 230V/115V 50-60Hz</span>
                    <span>Power: 300W</span>
                </div>
                <div class="card-details-item">
                    <span>Measure: 28 cm x 17 cm x 8 cm</span>
                    <span>Weight: 2,8 kg</span>
                </div>

            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-image">
            <img class="card-image" alt="some image"/>
        </div>
        <div class="card-data">
            <div class="card-title">
                <h1>Profiwachser HWP125</h1>
            </div>
            <div class="card-description">
                <ul>
                    <li>sekundenschneller Wachsauftrag</li>
                    <li>einfaches Überschieben des Ski oder Snowboard</li>
                    <li>genaue Dosierung</li>
                    <li>extrem sparsam auswechselbare Wachswanne</li>
                </ul>
            </div>
            <div class="card-details-grid">
                <div class="card-details-item">
                    <span>Voltage: 230V/115V 50-60Hz</span>
                    <span>Power: 300W</span>
                </div>
                <div class="card-details-item">
                    <span>Measure: 28 cm x 17 cm x 8 cm</span>
                    <span>Weight: 2,8 kg</span>
                </div>

            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-image">
            <img class="card-image" alt="some image"/>
        </div>
        <div class="card-data">
            <div class="card-title">
                <h1>Profiwachser HWP125</h1>
            </div>
            <div class="card-description">
                <ul>
                    <li>sekundenschneller Wachsauftrag</li>
                    <li>einfaches Überschieben des Ski oder Snowboard</li>
                    <li>genaue Dosierung</li>
                    <li>extrem sparsam auswechselbare Wachswanne</li>
                </ul>
            </div>
            <div class="card-details-grid">
                <div class="card-details-item">
                    <span>Voltage: 230V/115V 50-60Hz</span>
                    <span>Power: 300W</span>
                </div>
                <div class="card-details-item">
                    <span>Measure: 28 cm x 17 cm x 8 cm</span>
                    <span>Weight: 2,8 kg</span>
                </div>

            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-image">
            <img class="card-image" alt="some image"/>
        </div>
        <div class="card-data">
            <div class="card-title">
                <h1>Profiwachser HWP125</h1>
            </div>
            <div class="card-description">
                <ul>
                    <li>sekundenschneller Wachsauftrag</li>
                    <li>einfaches Überschieben des Ski oder Snowboard</li>
                    <li>genaue Dosierung</li>
                    <li>extrem sparsam auswechselbare Wachswanne</li>
                </ul>
            </div>
            <div class="card-details-grid">
                <div class="card-details-item">
                    <span>Voltage: 230V/115V 50-60Hz</span>
                    <span>Power: 300W</span>
                </div>
                <div class="card-details-item">
                    <span>Measure: 28 cm x 17 cm x 8 cm</span>
                    <span>Weight: 2,8 kg</span>
                </div>

            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-image">
            <img class="card-image" alt="some image"/>
        </div>
        <div class="card-data">
            <div class="card-title">
                <h1>Profiwachser HWP125</h1>
            </div>
            <div class="card-description">
                <ul>
                    <li>sekundenschneller Wachsauftrag</li>
                    <li>einfaches Überschieben des Ski oder Snowboard</li>
                    <li>genaue Dosierung</li>
                    <li>extrem sparsam auswechselbare Wachswanne</li>
                </ul>
            </div>
            <div class="card-details-grid">
                <div class="card-details-item">
                    <span>Voltage: 230V/115V 50-60Hz</span>
                    <span>Power: 300W</span>
                </div>
                <div class="card-details-item">
                    <span>Measure: 28 cm x 17 cm x 8 cm</span>
                    <span>Weight: 2,8 kg</span>
                </div>

            </div>
        </div>
    </div>
    <div class="product-card">
        <div class="card-image">
            <img class="card-image" alt="some image"/>
        </div>
        <div class="card-data">
            <div class="card-title">
                <h1>Profiwachser HWP125</h1>
            </div>
            <div class="card-description">
                <ul>
                    <li>sekundenschneller Wachsauftrag</li>
                    <li>einfaches Überschieben des Ski oder Snowboard</li>
                    <li>genaue Dosierung</li>
                    <li>extrem sparsam auswechselbare Wachswanne</li>
                </ul>
            </div>
            <div class="card-details-grid">
                <div class="card-details-item">
                    <span>Voltage: 230V/115V 50-60Hz</span>
                    <span>Power: 300W</span>
                </div>
                <div class="card-details-item">
                    <span>Measure: 28 cm x 17 cm x 8 cm</span>
                    <span>Weight: 2,8 kg</span>
                </div>

            </div>
        </div>
    </div>

</div>