body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

h1 {
  margin: 1rem;
  font-size: 24px;
}
h2 {
  margin: 0.5rem;
  font-size: 18px;
}
a,
a:visited {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 960px;
  margin: auto;
}

main {
  margin: 0em 2em;
}

/* ***************************************
              HEADER AREA
*************************************** */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4em;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  padding: 0px;
  list-style-type: none;
}

nav li {
  border: none;
  border-radius: 4px;
  margin: 0.6em 0px;
  padding: 0.4em 1em;
}

nav .li-dark {
  background-color: #233253;
}

nav .li-dark a {
  color: white;
}

nav a,
a:visited {
  /* padding-bottom: 0.3em; */
}

@media (min-width: 600px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid white;
    padding: 1em 0em;
    margin: 1em 1em;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  nav li {
    margin: 0em 0.8em;
  }
  nav .li-dark {
    padding: 0.8em 1.8em;
  }
}

/* ***************************************
            FOOTER AREA
*************************************** */

footer {
  background-color: #f1f2f2;
  display: flex;
  flex-direction: column;
  margin-top: 6em;
}

footer h2 {
  font-weight: normal;
}

.footer-company {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.footer-company span {
  margin: 0.2em;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-products {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.footer-legal {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  footer {
    padding: 2em 0em;
  }
  footer .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  footer span {
    margin: 0.2em 0.2em;
  }

  .footer-company {
    align-items: flex-start;
  }

  .footer-links {
    flex-direction: row;
    align-items: flex-start;
  }

  .footer-legal {
    display: flex;
    align-self: flex-end;
    margin-left: 2em;
  }
}

/* ***************************************
                  HOME PAGE
*************************************** */

.jumbotron {
  font-family: Palatino, serif;
  font-weight: bold;
  font-size: 52px;
  margin: 3em 0em;
}

.home-subtitle {
  margin: 2em 0em;
  font-weight: normal;
}

.product-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0em;
}
.product-grid-item {
  height: 190px;
  width: 190px;
  background-color: plum;
  margin: 2em;
}

@media (min-width: 600px) {
  .product-grid {
    flex-direction: row;
  }
}

/* ***************************************
                  PRODUKT PAGE
****************************************/

.product-title {
  font-style: normal;
  font-weight: bold;
  font-stretch: condensed;
}

.product-items {
  margin-top: 4em;
  text-align: left;
}

.product-card {
  margin-bottom: 4em;
}

.card-title h1 {
  font-stretch: condensed;
}

.card-image {
  margin: auto;
  background-color: plum;
}

.card-details-item {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-style: italic;
  padding-left: 2em;
}

@media (min-width: 600px) {
  .product-items {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    column-gap: 3em;
    row-gap: 2em;
  }
  .product-card {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: flex-start;
  }

  .card-image {
    width: 30%;
  }

  .card-data {
    width: 70%;
    padding: 0em 1em;
  }

  .card-title h1 {
    margin-left: 0px;
    width: 100%;
  }

  .card-description ul {
    padding-left: 1em;
  }

  .card-details-grid {
    padding: 0em 0em;
    display: flex;
  }

  .card-details-item {
    padding: 0;
  }
}

/* ***************************************
                CONTACT PAGE
*************************************** */

.contact-title {
  font-stretch: condensed;
}

.contact-subtitle {
  font-weight: normal;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin: 2em;
}
form label {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 0.5em;
}

form textarea {
  resize: none;
}
.form-name {
  display: flex;
  flex-direction: column;
}

.form-name label {
  font-size: 14px;
  margin-top: 0.8rem;
}

form .submit-btn {
  border: none;
  border-radius: 4px;
  background-color: #233253;
  color: white;
  padding: 0.5rem 1.5rem;
}
